body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white; 
}
.keyboard-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.row {
  display: flex;
  gap: 5px;
  background-color: white;
  color:black;
  justify-content: center;
  align-items: center;
}

.tile {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  border: 1px solid #ccc;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
}


.correct {
  background-color: #538d4e; 
  color:white;
}

.present {
  background-color: #b59f3b; 
  color:white;
}

.absent {
  background-color: #3a3a3c;
  color:white;
}


.keyboard-row {
  display: flex;
  justify-content: center; 
  margin-bottom: 10px; 
}

.key {
  margin: 5px; 
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.key:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.key.correct {
  background-color: #538d4e;
  color: white;
}

.key.present {
  background-color: #b59f3b;
  color: white;
}

.key.absent {
  background-color: #3a3a3c;
  color: white;
}
